
.faq {
    width: 60%
}

.clinics {
    width: 38%;
}

@media (max-width: 900px) {
    .faq {
      width: 100%;
      margin-top: 40px;
    }
    .clinics {
        width: 100%;
    }
    .click-state-default .clinics .clinic-item.hide-at-homepage {
        display: none;
    }
    .more-less {
        padding-right: 20px;
        cursor: pointer;
        font-size: 22px;
        font-weight: 500;
        color: white;
    }
    .click-state-default .more-less::after {
        content: 'Show More';
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
        background: #774ff7;
        border-radius: 5px;
    }
    .click-state-clicked .more-less::after {
        content: 'Show Less';
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px;
        background: #774ff7;
        border-radius: 5px;
        
    }
    .caption {
        font-size: 12px;
    }
    .caption span {
        font-size: 16px;
    }
}
